<style>
body 
{
    background-image: url('QA.png');
}
{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar
{
background-color: blueviolet;
overflow: hidden;
display: flex;
align-items: center;
justify-content: space-between;
padding: 13px;
}
.navbar a
{   
    float: left;
    display: block;
    color: aliceblue;
    text-align: 14px 16px;
    text-decoration: none;
}
.navbar .home
{
    background-color: aquamarine;
    padding: 16px;
}
.navbar .Health Science
{
    background-color: #496290;
    padding: 14px 16px;
}
.navbar .Course
{
    background-color: aquamarine;
    padding: 16px;
}

h1 
{   
    font-size: 18pt;
    text-align: center;
    background-color: blue;
    
}

h2
{
    padding: 10;
    margin: 5px;
    
}

h3
{
    font-size: 18pt;
    color:brown;
    padding: 10;
    margin: 5px;
}
</style>